@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree";
}
.sectiona {
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  text-align: center;
}
.subject {
  margin-top: 0px;
}
.headtext {
  padding-top: 120px;
}
.subjecta {
  padding-top: 30px;
  font-weight: 600;
  font-size: 40px;
}
.subjectb {
  padding: 10px 0px 20px 0px;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}
.button {
  padding-top: 50px;
}
.buttona {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: none;
  margin-right: 10px;
  background-color: hsl(171, 66%, 44%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  box-shadow: 1px 1px 0px 1px hsl(171, 66%, 34%);
}
.buttonb {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  background-color: hsl(233, 100%, 69%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  box-shadow: 1px 1px 0px 1px hsl(233, 52%, 46%);
}
.buttona:hover {
  cursor: pointer;
}
.buttona:active {
  background-color: hsl(171, 87%, 63%);
}
.buttonb:hover {
  cursor: pointer;
}
.buttonb:active {
  background-color: hsl(171, 87%, 63%);
}
.snippet {
  padding-top: 150px;
  font-weight: 600;
  font-size: 30px;
}
.body {
  display: flex;
  padding-top: 50px;
}
.txts {
    width: 50%;
    padding-left: 10%;
}
.division {
  /* display: flex;
    flex-direction: column; */
  padding: 58px 0 0 0;
}
.bcaps {
  font-weight: 700;
  font-size: 22px;
  padding-left: 00px;
}
.submain {
  text-align: center;
}
.devices {
  margin-top: 100px;
}
.texts {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}
.shift {
  padding: 20px;
}
.shiftc {
  padding: 12px 20px 20px 20px;
}
.snips {
  padding-bottom: 30px;
}
.logos {
  display: flex;
  justify-content: space-between;
  margin: 120px;
}
.sectionb {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.subjectc {
  padding: 30px 0px 0 0px;
  font-weight: 600;
  font-size: 30px;
}
footer {
  background-color: hsl(201, 11%, 66%, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  height: 180px;
  padding: 60px 200px 30px 200px;
}
.icons {
  display: flex;
}
.clogo {
  width: 50%;
}
.faq {
  padding-bottom: 20px;
}
.pp {
  padding-bottom: 20px;
}
.ico {
  padding-top: 20px;
  padding-left: 20px;
  fill: #4c545c;
  cursor: pointer;
}

.faq:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.pp:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.ig:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.fb:hover {
  fill: hsl(171, 66%, 44%);
  cursor: pointer;
}
.twet:hover {
  fill: hsl(171, 66%, 44%);
  cursor: pointer;
}
.ins:hover {
  fill: hsl(171, 66%, 44%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .headtext {
      padding-top: 80px;
  }
  .subjectb {
    padding: 10px 20px 20px 5px;
  }
  .button {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .buttona {
    margin-right: 0;
  }
  .buttonb {
    margin-top: 20px;
    margin-left: 0;
  }
  .bcaps {
    padding-left: 5px;
  }
  .body {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
  }
  .computer {
    width: 90%;
  }
  .devices {
    width: 90%;
  }
  .texts {
    display: flex;
    flex-direction: column;
  }
  .logos {
    display: flex;
    flex-direction: column;
  }
  .logos {
    display: flex;
    align-items: center;
    margin: 80px 0px 80px 0px;
  }
  .trademark {
    padding-bottom: 20px;
  }
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    padding: 0;
  }
  .clogo {
    width: 70%;
    padding: 20px 0px;
  }
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .faq {
    padding-bottom: 20px;
  }
  .pp {
    padding-bottom: 20px;
  }
  .ig {
    padding-bottom: 20px;
  }
  .fb {
    padding-top: 20px;
  }
  .twet {
    padding-top: 20px;
  }
  .ins {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
footer {
    padding: 60px 150px 30px 150px;
}
.logos {
    display: flex;
    justify-content: space-between;
    margin: 80px 50px 80px 50px;
  }
  .division {
      padding-top: 10%;
  }
  .txts {
      padding: 0 3%;
  }
}